@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --top-color: #808080; /* gray at the top */
    --middle-color: #ffffff; /* white in the middle */
    --bottom-color: #808080; /* gray at the bottom */
  }

  html {
    background: linear-gradient(var(--top-color), var(--middle-color), var(--bottom-color));
  }

  body {
    color: #ff0000; /* Red text color */
    font-family: 'Anta', ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    transition: all;
    transition-duration: 0.3s;
    list-style: none;
    scroll-behavior: smooth;
    transition: all;
    width: 100dvw;
    height: 100dvh;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
